# Regression linéaire multiple
> Test sur le fichier de données data_regression

In [4]:
import pandas as pd

In [6]:
df = pd.read_excel(r'data_regression.xlsx')
df.head()

   X0    X1    X2     Y
0   1  0.72  0.32  6.93
1   1  0.75  0.12  5.99
2   1  0.53  0.65  1.46
3   1  0.27  0.82  1.44
4   1  0.49  0.15  4.51

In [7]:
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [8]:
%matplotlib inline

In [9]:
df.corr()
# Matrice de collération entre les différents paramètres

    X0        X1        X2         Y
X0 NaN       NaN       NaN       NaN
X1 NaN  1.000000  0.142473  0.870142
X2 NaN  0.142473  1.000000 -0.210442
Y  NaN  0.870142 -0.210442  1.000000

## Multilinear regression 
> Create X vector and thus predict Y 
> Gradient Descent

In [12]:
X = df[['X0','X1','X2']]

In [13]:
Y = df['Y']

In [14]:
from sklearn.model_selection import train_test_split

In [128]:
# Using calculous method
# Hyperparamètres

ALPHA = 0.01  #  taux d'apprentissage
EPOCHS = 10000  #  number of iterations to perform gradient descent

n_donnees = float(len(Y)) # nombre de points d'apprentissage
beta_hat = np.zeros(3) # 2 parametres initiaux

# Descente du gradient
for i in range(EPOCHS ): 
     Y_pred = beta_hat[0]*X['X0'] + beta_hat[1]*X['X1']+beta_hat[2]*X['X2']# prédiction de Y
     Derivee_beta2 = -2/n_donnees*sum((Y-Y_pred)*(X['X2']))  # Derivée en beta3
     Derivee_beta1 = -2/n_donnees*sum((Y-Y_pred)*X['X1'])  # # Derivée en beta2
     Derivee_beta0 = -2/n_donnees*sum((Y-Y_pred)*(X['X0']))  # Derivée en beta1
     beta_hat[0] = beta_hat[0] - ALPHA*Derivee_beta0  # Update beta0
     beta_hat[1] = beta_hat[1] - ALPHA*Derivee_beta1 # Update beta1
     beta_hat[2] = beta_hat[2] - ALPHA*Derivee_beta2 # Update beta2

print (beta_hat)
#print(X['X0'][1])
print('Y pred')
print(Y_pred)
print('Y')
print(Y)

[ 1.42423878  7.17310677 -2.52259006]
Y pred
0    5.781647
1    6.501358
2    3.586302
3    1.292454
4    4.560673
5    1.088409
6    1.740173
7    6.734576
8    6.133101
9    6.181315
dtype: float64
Y
0    6.93
1    5.99
2    1.46
3    1.44
4    4.51
5    1.25
6    2.53
7    6.88
8    6.25
9    6.36
Name: Y, dtype: float64

In [129]:
# Calculate MSE
delta = Y-Y_pred
delta2 = np.power(delta,2)
MSE = 1/n_donnees*sum(delta2)
print(MSE)

0.6842380065638881

# Analytical Resolution of multilinear regression

In [82]:
import numpy.linalg as la

In [113]:
X

   X0    X1    X2
0   1  0.72  0.32
1   1  0.75  0.12
2   1  0.53  0.65
3   1  0.27  0.82
4   1  0.49  0.15
5   1  0.02  0.19
6   1  0.35  0.87
7   1  0.99  0.71
8   1  0.98  0.92
9   1  0.73  0.19

In [144]:
A = la.inv(np.dot(X.transpose(),X))
B = np.dot(X.transpose(),Y)
a_hat = np.dot(A,B)
print(a_hat)

[ 1.42423013  7.17311794 -2.52258683]

In [145]:
Y_pred1 = np.dot(a_hat,X.transpose())
print(Y_pred1)
print(Y)
delta1 = Y-Y_pred1
delta3 = np.power(delta1,2)
MSE = 1/n_donnees*sum(delta3)
print(MSE)

[5.78164727 6.50135817 3.5863012  1.29245078 4.5606699  1.088401
 1.74017087 6.73458025 6.13310583 6.18131473]
0    6.93
1    5.99
2    1.46
3    1.44
4    4.51
5    1.25
6    2.53
7    6.88
8    6.25
9    6.36
Name: Y, dtype: float64
0.6842380065507271